<% if (post.hidedate){ %>
  <div style="height: 20px;"></div>
<% } else { %>
  <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
      <%= date(post.date, date_format) %>
    </time>
  </a>
<% }%>